@use '../../../styles/abstracts/media' as media;
@use '../../../styles/abstracts/colors' as color;

.greeting-section {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .greeting-section__content {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(1.5rem, 2vw, 1.8rem);

    .section-name {
      color: color.$accent--color2;
    }
  }

  .section-img {
    max-width: 20rem;

    .profile_img {
      border-radius: 50%;
      background-color: color.$accent--color2;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@include media.responsive(laptop, max-width) {
  .greeting-section {
    gap: 3rem;
  }
}

@include media.responsive(tablet, max-width) {
  .greeting-section {
    .section-img {
      max-width: 16rem;
    }

    display: flex;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
