@use '../../../styles/abstracts/media' as media;
@use '../../../styles/abstracts/colors' as color;

.greeting-section {
  padding: 0 110px;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
  .greeting-section__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(1.7rem, 2vw, 2rem);
    .section-name {
      color: color.$accent--color2;
    }
  }
  .section-img {
    max-width: 20rem;
    .profile_img {
      border-radius: 50%;
      background-color: color.$accent--color2;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@include media.responsive(lg, max-width) {
  .greeting-section{
    justify-content: space-evenly;
    .section-img {
      max-width: 30vw;
    }
  }
}

@include media.responsive(md, max-width) {
  .greeting-section{
    display: flex;
    padding: 0;
    flex-direction: column;
     .section-img {
      max-width: 60vw;
    }
  }
}
