// colors palette:
$primary--color: #171a20;
$secondary--color: #cfd1ce;
$tertiary--color: #f2f2ec;
$white--color: #fefff9;
$dark--color: #1B1B1C;
$greydark--color: #343A40;
$accent--color: #ff1a10;

// complementary colors:
$success--color: #28A745;
$danger--color: #DC3545;
$warning--color: #ffc107;
$info--color: #17A2B8;
$light--color: #F8F9FA;