// colors palette:
$primary--color: #0f172a !default;
$secondary--color: #e2e8f0 !default;
$tertiary--color: #f8fafc !default;
$white--color: #ffffff !default;
$dark--color: #1B1B1C !default;
$greydark--color: #334155 !default;
$accent--color: #0ea5e9 !default;
$accent--color2: #0284c7 !default;

// complementary colors:
$success--color: #10b981 !default;
$danger--color: #ef4444 !default;
$warning--color: #f59e0b !default;
$info--color: #3b82f6 !default;
$light--color: #f1f5f9 !default;
