@use 'sass:map';

$breakpoints: (
  desktop: 1440px,
  laptop: 1440px,
  tablet: 1024px,
  mobileX: 768px,
  mobileL: 480px,
  mobileM: 375px,
  mobileS: 326px,
);

@mixin responsive($size, $prop) {
  @media screen and ($prop: map.get($breakpoints, $size)) {
    @content;
  }
}
