@use 'sass:map';
@use '/src/styles/themes/themes' as th;
@use '/src/styles/abstracts/variables' as v;

$theme-map: null;
@mixin themed() {
  @each $theme, $map in th.$themes {
    .theme-#{$theme}{
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map.get(map.get(th.$themes, $theme), '#{$key}');
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
    }
  }
}

@function t($key) {
  @return map.get($theme-map, $key);
}

@mixin bg-config() {
  transition: v.$transition-bg;
  background-image: t(bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

