/* CSS HEX */
:root{
  --rich-black: #0f101cff;
  --ultra-violet: #65678aff;
  --orange-web: #ffa400ff;
  --platinum: #e6e6e9ff;
  --antiflash-white: #f4f4f6ff;
  --sinopia: #cf2300ff;
  --raisin-black: #25272aff;
}

/* SCSS HEX */
$rich-black: #0f101cff;
$ultra-violet: #65678aff;
$orange-web: #ffa400ff;
$platinum: #e6e6e9ff;
$antiflash-white: #f4f4f6ff;
$sinopia: #cf2300ff;
$raisin-black: #25272aff;
