$transition-bg: background-color 1000ms ease-in-out;
$transition-1: all 300ms ease-in-out;
$translate-1: scale(1.1, 1.1);
$box-shodow-1: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 3px 9px -2px #9ca3af;
$box-shodow-2: 0 8px 16px 0 rgba(0, 0, 0, 0.12);

/* toggle button theme */
$button-width: 3em;
$button-height: 1.5em;
$toggle-diameter: 1.3em;
$button-toggle-offset: calc(($button-height - $toggle-diameter) / 2);
$icon-width: 1em;
$toggle-shadow-offset: 10px;
$toggle-wider: 2em;
$shadow-theme-button: inset 0px -5px 15px 1px rgba(0, 0, 0, 0.4),
  inset 0px -5px 15px rgba(255, 255, 255, 0.4);
$background-checked: linear-gradient(120deg, #777, #3a3a3a);
