@use '../abstracts/colors' as c;

$themes: (
  light: (
    bg: url('../src/assets/background-pattern-exa.svg'),
    bg-color: c.$secondary--color,
    card-bg-img: url('../src/assets/background-pattern-exa.svg'),
    card-bg-color: c.$secondary--color,
    title: c.$primary--color,
    sub-titulo: c.$dark--color,
    text: c.$dark--color,
    text-hover: c.$primary--color,
    text-imp: c.$info--color,
    link:  c.$accent--color,
    bg-color--accent: c.$greydark--color,
  ),
  dark: (
    bg: url('../src/assets/background-pattern-abs.svg'),
    bg-color: c.$primary--color,
    card-bg-img: url('../src/assets/background-pattern-exa.svg'),
    card-bg-color: c.$greydark--color,
    title: c.$secondary--color,
    sub-titulo: c.$dark--color,
    text: c.$white--color,
    text-hover: c.$tertiary--color,
    text-imp: c.$info--color,
    link: c.$accent--color,
    bg-color--accent: c.$white--color,
  ),
);
