@use "sass:meta";
@use '../abstracts/colors' as c;

$themes: (
  light: (
    bg: url('../src/assets/background-pattern-exa.svg'),
    bg-color: c.$secondary--color,
    card-bg: c.$tertiary--color,
    title: c.$primary--color,
    sub-titulo: c.$dark--color,
    text: c.$dark--color,
    text-imp: c.$accent--color,
    link:  c.$accent--color,
  ),
  dark: (
    bg: url('../src/assets/background-pattern-abs.svg'),
    bg-color: c.$primary--color,
    card-bg: c.$greydark--color,
    title: c.$secondary--color,
    sub-titulo: c.$dark--color,
    text: c.$white--color,
    text-imp: c.$accent--color,
    link: c.$accent--color,
  ),
);
