@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/colors' as c;

.button__toggle-theme {
  .toggle-theme__switch {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .toggle-theme__slider {
      display: flex;
      width: v.$button-width;
      height: v.$button-height;
      box-shadow: v.$shadow-theme-button;
      border-radius: calc(v.$button-height / 2);
      position: relative;
      transition: 0.3s all ease-in-out;
      .button__moon {
        width: v.$icon-width;
        position: absolute;
        z-index: 2;
        top: 0.25em;
        right: 0.25em;
      }
      .button__sun {
        width: v.$icon-width;
        position: absolute;
        z-index: 2;
        top: 0.25em;
        left: 0.25em;
      }
    }

    .toggle-theme__slider::after {
      content: '';
      position: relative;
      display: inline-block;
      width: v.$toggle-diameter;
      height: v.$toggle-diameter;
      border-radius: calc(v.$toggle-diameter / 2);
      top: v.$button-toggle-offset;
      transform: translateX(v.$button-toggle-offset);
      background: linear-gradient(180deg, #ffcc89, #d8860b);
      box-shadow: v.$toggle-shadow-offset 0 calc(v.$toggle-shadow-offset * 4)
        rgba(0, 0, 0, 0.1);
      transition: 0.3s all ease-in-out;
    }

    .toggle-theme__input[type='checkbox']:checked + .toggle-theme__slider {
      background: linear-gradient(
        90deg,
        c.$greydark--color,
        c.$secondary--color
      );
    }

    .toggle-theme__input[type='checkbox']:checked
      + .toggle-theme__slider::after {
      transform: translateX(
        calc(v.$button-width - v.$toggle-diameter - v.$button-toggle-offset)
      );
      box-shadow: calc(v.$toggle-shadow-offset * -1) 0
        calc(v.$toggle-shadow-offset * 4) rgba(0, 0, 0, 0.1);
      background: v.$background-checked;
    }

    .toggle-theme__input {
      display: none;
    }

    .toggle-theme__input[type='checkbox']:active
      + .toggle-theme__slider::after {
      width: v.$toggle-wider;
    }

    .toggle-theme__input[type='checkbox']:checked:active
      + .toggle-theme__slider::after {
      transform: translateX(
        calc(v.$button-width - v.$toggle-wider - v.$button-toggle-offset)
      );
    }
  }
}
