.nav-logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 3rem;
  &__img {
    width: calc(0.8rem + 1.6vw);
  }
  &__title {
    font-size: calc(0.5rem + 1vw);
    font-weight: 600;
    text-transform: uppercase;
  }
}
