@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

@include m.themed() {
  .nav-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    transition: v.$transition-1;
    &__img {
      transition: v.$transition-1;
      width: 1.5em;
      fill: m.t(title);
    }
    &__title {
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
