@use '../../../styles/abstracts/variables' as vari;
@use '../../../styles/abstracts/mixins' as mix;
@use '../../../styles/abstracts/colors' as color;

@include mix.themed() {
  
.side-nav__menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  &-item {
    color: mix.t(title);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: vari.$transition-1;
    cursor: pointer;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .icon {
      width: 1.5rem;
    }

  &-text {
    font-size: 1.4em;
    width: 5em;
  }

  &-item:hover {
    color: mix.t(link);
  }
}
}
