@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/colors' as c;


@include m.themed() {
  .side-nav__menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    &-item {
      background-color: m.t(bg-color--accent);
      color: m.t(bg-color);
      width: calc(18% + 8em);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      box-shadow: v.$box-shodow-2;
      transition: v.$transition-1;
      cursor: pointer;
      padding: 0.6rem;
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
    &-icon {
      font-size: 1.2em;
    }
    &-text {
      width: 5em;
    }
    &-item:hover {
      transform: v.$translate-1;
      background-color: m.t(text-hover);
      color: m.t(bg-color);
    }
  }
}
