@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/colors' as c;

.nav__main{
    &-menu{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 70%;
      height: 3rem;
      flex-direction: row;
      gap: 1.5rem;
    }
    &-link{
      font-weight: 600;
      transition: v.$transition-1;
      font-size: 1.2rem;
    }
    &-link:hover{
      transform: v.$translate-1;
      border-bottom: 3px solid c.$accent--color;
      padding-bottom: 3px;
    }
  }