@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/colors' as c;
@use '../../../styles/abstracts/mixins' as mix;

.nav__main {
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 2rem;
  }

  &-link {
    font-weight: 500;
    transition: v.$transition-1;
    font-size: 1.1rem;
  }

  &-link:hover {
    transform: v.$translate-1;
    color: mix.t(text-hover);
  }
}
