@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/colors' as c;
@use '../../../styles/abstracts/media';

.nav__main{
    &-menu{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 3rem;
      flex-direction: row;
      gap: 2rem;
    }
    &-link{
      font-weight: 600;
      transition: v.$transition-1;
      font-size: 1.1rem;
    }
    &-link:hover{
      transform: v.$translate-1;
    }
    // TODO: create hightliting when be active
  }

@include media.responsive(lg, max-width) {
  .nav__main {
    &-menu {
      display: none;
    }
  }
}
