@use '../../../styles/abstracts/variables' as v;

.nav__main{
    &-menu{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 60%;
      flex-direction: row;
      gap: 1.5rem;
    }
    &-item{
      height: 1rem;
    }
    &-link{
      font-weight: 600;
      transition: v.$transition-1;
    }
    &-link:hover{
      transform: v.$translate-1;
      border-bottom: 2px solid #FFA400;
      padding-bottom: 5px;
    }
  }