@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/media' as media;

@include m.themed() {
  .nav {
    background-color: m.t(bg-color);
  }
}

.nav {
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.button__toggle-menu {
  transition: v.$transition-1;
  border-radius: 5px;
  position: relative;
  z-index: 50;
  cursor: pointer;
  font-size: 1.5em;
  padding: 3px;
}

@include media.responsive(md, min-width) {
  .button__toggle-menu{
    display: none;
  }
}

@include media.responsive(md, max-width) {
  .button__toggle-theme {
    display: none;
  }
}