@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/media' as media;


.button__toggle-menu {
  transition: v.$transition-1;
  border-radius: 5px;
  position: relative;
  z-index: 50;
  cursor: pointer;
  font-size: 1.5em;
  padding: 3px;
}

@include media.responsive(md, min-width) {
  .side-nav {
    display: none;
  }
  .button__toggle-menu{
    display: none;
  }
}
