@use '../../../styles/abstracts/colors' as c;
@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/media' as media;

.side-nav {
  position: absolute;
  left: 0;
  top: 7rem;
  width: 100%;
  height: 35rem;
  .button__toggle-theme{
    position: relative;
    display: flex;
    justify-content: center;
    top: 6rem;
  }

}

@include media.responsive(md, min-width) {
  .side-nav {
    display: none;
  }
  .button__toggle-menu{
    display: none;
  }
}
