@use '../../../styles/abstracts/colors' as c;
@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/abstracts/media' as media;

@include m.themed() {
  .side-nav {
    background-color: m.t(bg-color);
    @include m.bg-config();
  }
}

.side-nav {
  z-index: 5;
  position: absolute;
  bottom: 0rem;
  width: 100vw;
  height: calc(100vh - 5rem);
  display: grid;
  justify-items: center;
  align-content: center;

  .button__toggle-theme {
    display: block;
    position: relative;
    bottom: 2em;
  }
}

@include media.responsive(lg, min-width) {
    .side-nav {
    display: none;
  }
}