@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/funtions' as f;

body {
  @include m.themed() {
    transition: v.$transition-1;
    color: f.t(title);
    background-image: f.t(bg);
    background-color: f.t(bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120rem;
    height: 100vh;
  }
}
