@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@font-face {
  font-family: 'gotham';
  src: url('../../assets/fonts/GothamBook.ttf') format('truetype');
}


#root {
  @include m.themed() {
    color: m.t(title);
    @include m.bg-config();
    height: 100vh;
    .logo{
      fill: m.t(title);
    }
  }
}

body{
  font-family: 'gotham', 'Arial Narrow', system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}