@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@font-face {
  font-family: 'gotham';
  src: url('/src/assets/fonts/GothamBlack.otf') format('opentype');
}

@include m.themed() {
  .app {
    font-family: 'gotham', Tahoma, Verdana, sans-serif, system-ui, Arial;
    height: 100vh;
    max-width: 100vw;
    color: m.t(title);
    @include m.bg-config();
    background-color: m.t(bg-color);
  }
}
